@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("./fonts/Montserrat-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "fonts/Montserrat-Thin";
  src: url(./fonts/Montserrat-Thin.ttf);
  font-display: swap;
}